.table {
    display: flex;
}

.box {
    border: 1px solid black;
    width: 100%;
    padding: 30px 0px;
}

.box1 {
    background-color: cyan;
}

.box2 {
    background-color: greenyellow;
}

.box3 {
    background-color: aquamarine;
    flex-shrink: 1;
}

.box4 {
    background-color: lime;
    flex-shrink: 1;
}

.box5 {
    background-color: violet;
    flex-shrink: 1;
}